name: NuGet Push

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Update NuGet package
    steps:

      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Setup .NET Core @ Latest
        uses: actions/setup-dotnet@v5     
        with:
            dotnet-version: '10.0.x'  

      - name: Build and Publish
        run: |  
          cd ./src/RedisRateLimiting/
          dotnet pack -c Release -o artifacts -p:PackageVersion=1.2.1

      - name: Push
        run: dotnet nuget push ./src/RedisRateLimiting/artifacts/RedisRateLimiting.1.2.1.nupkg -k ${{ secrets.NUGET_APIKEY }} -s https://api.nuget.org/v3/index.json
